@page "/"
@attribute [Authorize]

@inject IArtistService ArtistService;

<PageTitle>Home - Chinook</PageTitle>

<h3>Artists</h3>

<br />

<SearchTextBoxComponent OnSearchText="@OnSearch" />

<br />

<ArtistsListComponent  SearchValue="@searchValue" />


@code {

    private string searchValue = String.Empty;

    private void OnSearch(string searchTerm)
    {
        searchValue = searchTerm;
    }

}
